<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/wordpress/bootstrap.php" colors="true" failOnWarning="true" failOnRisky="true">
    <testsuites>
        <testsuite name="DigiForge WordPress integration">
            <directory suffix="Test.php">tests/wordpress</directory>
        </testsuite>
    </testsuites>
</phpunit>
